server {
  server_tokens off;
  listen 80;
{% if ipv6 == true %}  listen [::]:80;{% endif %}
  server_name _; # This is just an invalid value which will never trigger on a real hostname.
  access_log /var/log/nginx/access.log vhost;
  return 503;
}
server {
  server_tokens off;
  listen 443 ssl http2;
{% if ipv6 == true %}  listen [::]:443 ssl http2;{% endif %}
  server_name _; # This is just an invalid value which will never trigger on a real hostname.
  access_log /var/log/nginx/access.log vhost;
  return 503;
  ssl_session_tickets off;
  ssl_certificate      /etc/letsencrypt/live/{{ base_domain }}/fullchain.pem;
  ssl_certificate_key  /etc/letsencrypt/live/{{ base_domain }}/privkey.pem;
}

