upstream cur3{{ srv_name }} {
  server {{ srv_upstream }}:{{ srv_upstream_port }};
}
server {
  listen 80;
{% if ipv6 == true %}  listen [::]:80;{% endif %}
  server_name {{srv_subdomain}}.{{ dn_source }};
  # enforce https
  return 301 https://$server_name:443$request_uri;
}
server {
  listen 443 ssl http2;
{% if ipv6 == true %}  listen [::]:443 ssl http2;{% endif %}
  server_name {{srv_subdomain}}.{{ dn_source }};
  client_max_body_size 500M;

  include /etc/nginx/includes/options-ssl.conf;

  location / {
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header Host $host;

    proxy_pass http://cur3{{ srv_name }};

    proxy_buffering off;
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";

    client_max_body_size 5M;
  }
}